@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


:root {
	--font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	--font-mono: 'Fira Mono', monospace;
	background-color: #f5f5f5;
	--color-theme-1: #003afa;
	--color-theme-2: #630eb3;
	--color-text: rgba(0, 0, 0, 0.87);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-family: var(--font-body);
}

* {
	box-sizing: border-box;
}